<configuration>
    <appender name="CLOUD" class="com.google.cloud.logging.logback.LoggingAppender">
        <loggingEventEnhancer>jimlind.filmlinkd.system.google.LoggingEnhancer</loggingEventEnhancer>
        <projectId>filmlinkd</projectId>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>

    <root level="INFO">
        <appender-ref ref="CLOUD"/>
    </root>
</configuration>