[Unit]
Description=Filmlinkd - It is a Letterboxd Discord bot
Documentation=https://jimlind.github.io/filmlinkd/
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/app/filmlinkd
ExecStart=/usr/bin/node --optimize_for_size /opt/app/filmlinkd/bot.js prod
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target